body {
font-family: Open Sans;
background-image: url("https://wallpaperaccess.com/full/3579406.jpg");
background-size: cover;  
background-repeat: no-repeat;
}

p {
margin: 10px 25px 25px 25px
}
a:link, a:visited {
  background-color: darkred;
  color: white;
  padding: 13px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: "Open Sans";
}
button {
  background-color: darkred;
  color: white;
  padding: 13px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: "Open Sans";
}
input {
font-family: Open Sans
}
h1 {
text-align: center;
font-family: Saira;
font-size: 50px;
color: darkred;
}
.all {
background-color: white;
margin: 5% 5% 5% 5%;
border: 5px solid white;
margin: 10px 25px 25px 25px
}
.select {
width: 300px;
margin: 0 auto;
text-align: left;
border: 5px solid lightgray;
background-color: lightgray;
}
.buttons {
width: 300px;
margin: 0 auto;
text-align: center;
}
.formButton {
  background-color: darkred;
  color: white;
  padding: 13px 25px;
  text-align: center;
  text-decoration: none;
  border: none;
  display: inline-block;
  font-family: "Open Sans";
  cursor: pointer;
}
